{
  "presets": ["env", "react", "flow"],
  "plugins": [
  	"transform-object-rest-spread", // Transform spread operator (...)
  	"transform-class-properties", // Transform class declarations
  	"transform-async-to-generator" // Transform async/await
  ]
}