/**
 * Colors
 */
 
$colorBlack: rgb(0,0,0);
$colorGrayNine: rgb(38,38,38);
$colorGrayEight: rgb(63,63,63);
$colorGraySeven: rgb(87,88,89);
$colorGraySix: rgb(112,113,114);
$colorGrayFive: rgb(137,138,140);
$colorGrayFour: rgb(163,165,168);
$colorGrayThree: rgb(187,189,191);
$colorGrayTwo: rgb(212,213,216);
$colorGrayOne: rgb(237,239,242);
$colorWhite: rgb(250,251,252);

$colorBluePitchBlack: rgb(14,21,32);
$colorBlueMidnight: rgb(24,31,42);
$colorBlueNight: rgb(32,39,49);
$colorBlueDarkest: rgb(40,47,57);
$colorBlueDarker: rgb(48,56,71);
$colorBlueDark: rgb(55,83,153);
$colorBlue: rgb(66,112,178);
$colorBlueLight: rgb(25,181,254);
$colorTeal: rgb(0,148,187);
$colorTealLight: rgb(78,205,202);
$colorGreen: rgb(63,195,128);
$colorYellow: rgb(255,206,51);
$colorOrange: rgb(248,148,6);
$colorRed: rgb(239,72,54);
$colorPurple: rgb(201,51,153);
$colorFuchsia: rgb(224,36,121);