.culture-shock {
  width: 80%;
  box-shadow: 1px 5px 10px #DDD;
  padding: 20px;
}
.modal-cs {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
}